<footer>
    <div class="footer-menu  stars-blur">
        <div class="footer-menu__component">
            <h6>About</h6>
        </div>
        <div class="footer-menu__component">
            <h6>Experience</h6>
        </div>
        <div class="footer-menu__component">
            <h6>Projects</h6>
        </div>
        <div class="footer-menu__component">
            <h6>Education</h6>
        </div>
        <div class="footer-menu__component">
            <h6>Other</h6>
        </div>
    </div>
    <div class="footer-copyright">
        <span>© Dima Romanov</span>
    </div>
</footer>
