<footer>
    <div class="footer-menu  stars-blur">
        <div class="footer-menu__component">
            <h6><a href="#About">About</a></h6>
        </div>
        <div class="footer-menu__component">
            <h6><a href="#Experience">Experience</a></h6>
        </div>
        <div class="footer-menu__component" >
            <h6><a href="#Other">Other</a></h6>
        </div>
        <div class="footer-menu__component">
            <h6><a href="#Education">Education</a></h6>
        </div>
        <div class="footer-menu__component">
            <h6><a href="#Other">Other</a></h6>
        </div>
    </div>
    <div class="footer-copyright">
        <span>© Dima Romanov</span>
    </div>
</footer>
