<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="header-menu  stars-blur">
        <div class="header-menu__component">
            <h5>About</h5>
        </div>
        <div class="header-menu__component">
            <h5>Experience</h5>
        </div>
        <div class="header-menu__component">
            <h5>Linkedin</h5>
        </div>
        <div class="header-menu__component">
            <h5>Github</h5>
        </div>
        <div class="header-menu__component">
            <h5>Email</h5>
        </div>
        <div class="header-menu__mode-switch">
            <h5>Theme:</h5>
            <div class="toggle transparent">
                <label>
                    <input type="checkbox" class="theme-switch">
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</header>
