<div class="main" id="About">
    <div class="main__banner">
        <div class="main__banner__image"></div>
        <h1>Dima Romanov</h1>
        <div class="main__banner__links">
            <div class="main__banner__links__container">
                <a class=" stars-blur" href="https://www.linkedin.com/in/dima-romanov-dd/"><i class="fa fa-linkedin"></i>dima-romanov-dd</a>
                <br>
                <a class=" stars-blur" href="https://github.com/Deymors/"><i class="fa fa-github"></i>Deymors</a>
                <br>
                <a class=" stars-blur" href="mailto:dima.dd.romanov@gmail.com"><i class="fa fa-envelope"></i>dima.dd.romanov@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="main__descriptions">
        <div class="main__descriptions__text  stars-full-blur">
            <h5>Hi,</h5>
            <p>I am Dima Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sapien ipsum, pellentesque aliquam
                eleifend sit amet, iaculis sed nibh. Phasellus malesuada turpis in malesuada tempus. Ut pharetra varius
                turpis ac fringilla. Vestibulum porta lectus at aliquet pharetra. Nullam ac dui quis nisi hendrerit
                hendrerit eu ut nulla. Nam libero justo, fermentum pellentesque mattis at, laoreet quis erat. Proin
                dapibus at turpis eget sagittis. Nam auctor augue quis pulvinar molestie. Morbi ultricies feugiat
                imperdiet. Donec laoreet elit quis eros auctor mattis. Integer vitae fringilla nisi. In pulvinar massa
                sit amet nisi congue ullamcorper.</p>
        </div>
    </div>
</div>
