<div class="main" id="About">
    <div class="main__banner">
        <div class="main__banner__image"></div>
        <h1>Dima Romanov</h1>
        <div class="main__banner__links">
            <div class="main__banner__links__container">
                <a class=" stars-blur" href="https://www.linkedin.com/in/dima-romanov-dd/"><i class="fa fa-linkedin"></i>dima-romanov-dd</a>
                <br>
                <a class=" stars-blur" href="https://github.com/Deymors/"><i class="fa fa-github"></i>Deymors</a>
                <br>
                <a class=" stars-blur" href="mailto:dima.dd.romanov@gmail.com"><i class="fa fa-envelope"></i>dima.dd.romanov@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="main__descriptions">
        <div class="main__descriptions__text  stars-full-blur">
            <p>Dima is a Computer Science and Mathematics student in McGill University. He is driven by academic interests in artificial intelligence and applications of software engineering in natural sciences. Aside from that, Dima is passionate about entrepreneurship and venture capital.</p>
            <br>
            <p>In his free time, he loves traveling, reading, listening to podcasts, debating about politics/history/philosophy/art.</p>
        </div>
    </div>
</div>
