* {
    box-sizing: border-box;
    outline: none;
}

body {
    position: relative;
}
h1{
    font-size: $xxl+$xxl+$l;
    margin:$s;
    display: table;
}
h2{
    font-size: $xxl+$xxl+$l;
    margin:$s;
    display: table;
}
h3{
    font-size: $xxl+$l;
    margin:$s;
    display: table;
}
h4{
    font-size: $xxl+$m+$s;
    margin:$s;
    display: table;
}
h5{
    font-size: $xl+$s;
    margin:$s;
    display: table;
}
h6{
    font-size: $xl+$xs;
    margin:$s;
    display: table;
}
label{
    font-size: $xl;
    margin:$s;
}

p{
    font-size: $xl+$xs;
    margin:$s;
}

.stars-blur{
    background: radial-gradient(rgba(245,245,245,0.8) 90%, rgba(0,0,0,0));
    &--black{
        background: radial-gradient(rgba(40,40,40,0.8) 90%, rgba(0,0,0,0));
    }
}

.stars-full-blur{
    background: radial-gradient(rgba(245,245,245,0.9) 90%, rgba(0,0,0,0));
    &--black{
        background: radial-gradient(rgba(40,40,40,0.9) 90%, rgba(0,0,0,0));
    }
}
