* {
    box-sizing: border-box;
    outline: none;
}

body {
    position: relative;
}
h1{
    font-size: $xxl+$xxl+$l;
    margin:$s;
}
h2{
    font-size: $xxl+$xxl+$l;
    margin:$s;
}
h3{
    font-size: $xxl+$l;
    margin:$s;
}
h4{
    font-size: $xxl+$m+$s;
    margin:$s;
}
h5{
    font-size: $xl+$s;
    margin:$s;
}
h6{
    font-size: $xl+$xs;
    margin:$s;
}
label{
    font-size: $xl;
    margin:$s;
}

p{
    font-size: $xl+$xs;
    margin:$s;
}