.experience {
  max-width: $max-screen;
  width: 100%;
  padding: $m;
  text-align: center;
  h2{
    font-weight: 300;
  }

  &__controller {
    text-align: start;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__row-breaker{
      flex-basis: 100%;
      height: 0;
    }

    &__item {
      border-radius: $xxl;
      border: $xs solid var(--primary-color);
      width: fit-content;
      padding: $xs+$xxs;
      margin:$m;

    }

    &__item:hover {
      background: var(--primary-color);
      cursor: pointer;
      color: var(--secondary-color);

    }
  }

  &__container {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        width: 80%;
        padding-bottom: $l;
        border-bottom: $xs solid var(--primary-color);
      }

      &__boxes {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        &__box {
          background:var(--secondary-color);
          border-radius: $xxl;
          border: $xs solid var(--primary-color);
          text-align: start;
          padding: $xl;
          margin: $xl;
          min-width: 400px;
          max-width: 450px;
          display: flex;
          justify-content: space-between;
          position: relative;

          &__media {
            filter: grayscale(1.0);
            padding-right: $xl;
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
              height: 100px;
            }

            &__line-top{
              height:30px;
            }

            &__line-bottom{
              height:60%;
            }

            div{
              width:$s;
              background-image: linear-gradient(var(--primary-color) 33%, rgba(255,255,255,0) 0%);
              background-position: right;
              background-size: $s ($xxl+$l);
              background-repeat: repeat-y;
              margin:$xl;
            }
            transition: all 1s ease;
          }
          &__media:hover{
            filter:none;
          }

          &__description {
            h4 {
              margin: 0;
            }
          }

          &__tags {
            margin-top: $m;
            margin-bottom: $m;
          }

          &__learn-more{
            width:100%;
            display: flex;
            justify-content: flex-end;
            padding-right:$xxl;
            h5{
              border:$xs solid var(--primary-color);
              border-radius: $xxs;
              padding:$m;

            }
            h5:hover{
              background: var(--primary-color);
              color:var(--secondary-color);
              cursor:pointer;
            }
          }

          &__flair {
            position: absolute;
            width: 100%;
            text-align: right;
            padding-right: $xxl+$xl;
            display: flex;
            justify-content: flex-end;


            h5 {

              color:var(--secondary-color);
              border-radius: $xl;
              padding:$m;
              background: var(--primary-color);
              margin: 0;
            }
          }
        }

        &__box:hover {
          transform: scale(1.02);
          transition-duration: 0.5s;
        }
      }
    }
  }

}
