.header-menu{
  padding: 0 ($xxxl);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  div{
    padding:$l;
  }
  &__component{
    h3{
      margin:0;
      font-size: $xl;
      cursor: pointer;
      font-weight: 100;
      border-bottom: 1px solid $white;
    }
    h3:hover{
      transform: scale(1.05);
      transition-duration: 1s;
    }
  }


  &__mode-switch{
    $toggle-width: $xl+$xl+$m;
    $toggle-height: $xl+$s+$xs;
    $toggle-gutter: 0;
    $toggle-radius: 50%;
    $toggle-control-speed: .25s;
    $toggle-control-ease: ease-in;

    $toggle-radius: $toggle-height / 2;
    $toggle-control-size: $toggle-height - ($toggle-gutter * 2);
    position: fixed;
    right:0;
    top: -$toggle-height/2;

    label {
      display: block;
      position: relative;
      padding-left: $toggle-width;
      cursor: pointer;
      font-size: $xl;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      input:checked ~ span {

        &:after {
          left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
      }

      span {
        box-shadow: 0 0 0 $xs $white;
        padding: $xs;
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color:$black;
        transition: background-color $toggle-control-speed $toggle-control-ease;

        &:after {
          content: "";
          position: absolute;
          left: $toggle-gutter;
          top: $toggle-gutter;
          width: $toggle-control-size;
          height: $toggle-control-size;
          border-radius: $toggle-radius;
          box-shadow:inset 0 0 0 $xs $black;
          background: $white;
          transition: left $toggle-control-speed $toggle-control-ease;
        }
      }
    }
  }
}