@import "variables/variables";

@import "mixin/media";

@import "util/grid";

@import "lib/normalize";

@import "modifier/margin";

@import 'base/base';
@import 'base/fonts';

@import "module/experience";
@import "module/footer";
@import "module/header";
@import "module/main";
@import "module/stars";

body{
  background: $black;
  color:$white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


