@import "variables/variables";
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
  --yellow: #bf8c1b;
  --blue: #188a8a;
  --primary-color: #272727;
  --secondary-color: #f5f5f5;
  --blur: radial-gradient(rgba(245,245,245,0.9) 90%, rgba(0,0,0,0));
  --full-blur: radial-gradient(rgba(245,245,245,0.99) 90%, rgba(0,0,0,0));
  --full-blur: radial-gradient(rgba(245,245,245,0.99) 90%, rgba(0,0,0,0));
  --image: url("/img/personal_w.png");
  --dark-brightness: brightness(1.0);
}

[data-theme="dark"] {
  --primary-color: #f5f5f5;
  --secondary-color: #272727;
  --blur: radial-gradient(rgba(40,40,40,0.8) 90%, rgba(0,0,0,0));
  --full-blur: radial-gradient(rgba(40,40,40,0.99) 90%, rgba(0,0,0,0));
  --image: url("/img/personal_b.png");
  --dark-brightness: invert();
}



@import "mixin/media";

@import "util/grid";

@import "lib/normalize";

@import "modifier/margin";

@import 'base/base';
@import 'base/fonts';

@import "module/experience";
@import "module/footer";
@import "module/header";
@import "module/main";
@import "module/stars";

body{
  background: var(--secondary-color);
  color:var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


